[submodule "apps/trellinator-libs"]
	path = apps/trellinator-libs
	url = git@github.com:iaindooley/trellinator-libs.git
[submodule "apps/trellinator"]
	path = apps/trellinator
	url = git@github.com:iaindooley/trellinator.git
